<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chimp Test Game</title>
    <link rel="stylesheet" href="Chimptest.css" />
    <script src="Chimptest.js" defer></script>
  </head>
  <body>
    <div id="popup" class="popup" id="popup">
      <div class="popup-content">
          <h2>Game Over</h2>
          <button class="rounded-button" id="rounded-button">Try Again?</button>
      </div>
  </div>
    <div>
      <h2 id="scoreboard">Level: 4</h2>
  </div>
  <div>
    <h2 id="strikes">Strikes: 0/3</h2>
</div>
    <div class="tiles" id="tiles"></div>
    </div>
    <div class="overlay" id="overlay"></div>
  </body>
</html>
